# Google (Gemini)
GOOGLE_API_KEY=your_google_ai_api_key

# Langsmith
LANGSMITH_API_KEY=your_langsmith_api_key
LANGSMITH_TRACING=true
LANGCHAIN_CALLBACKS_BACKGROUND=false
LANGSMITH_PROJECT=time-portals-backend
LANGSMITH_ENDPOINT=https://eu.api.smith.langchain.com
