# Google
GOOGLE_GEMINI_API_KEY=
GOOGLE_MAPS_API_KEY=

# Langsmith
LANGSMITH_API_KEY=
LANGSMITH_TRACING=true
LANGSMITH_PROJECT=time-portals-backend
LANGSMITH_ENDPOINT=https://eu.api.smith.langchain.com
